@model CoffeeShops.ViewModels.LoyaltyProgramViewModel

@{
    ViewData["Title"] = "Программа лояльности";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bg_color_style.css" />
    <link rel="stylesheet" href="~/css/logo_style.css" />
    <link rel="stylesheet" href="~/css/logout_button.css" />
    <style>
        .loyalty-program {
            width: 80%;
            margin: 20px auto;
            color: #EDE7DD;
            font-size: 14px;
        }

        .loyalty-header {
            color: #EDE7DD;
            margin-bottom: 20px;
        }

        .loyalty-description {
            color: #EDE7DD;
            padding: 10px;
            border: 1px solid #EDE7DD;
            border-radius: 4px;
        }

        .back-btn {
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
            color: #EDE7DD;
            font-size: 18px;
            background-color: #2c1c1a;
        }

        .upper-btn {
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
            color: #5E463D;
            font-size: 18px;
            background-color: #EDE7DD;
        }

        .fav-btn {
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
            color: #EDE7DD;
            font-size: 18px;
            background-color: #b567b2;
        }


        .button-group {
            display: flex;
            gap: 10px;
        }

        error-container {
            width: 95%;
            margin: 0 auto 20px;
            padding: 15px;
            background-color: rgba(255, 107, 107, 0.1);
            border-left: 3px solid red;
            color: red;
            border-radius: 4px;
        }

        .error-message {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <div class="button-group">
            <a href="@Url.Action("Logout", "User")" class="back-btn">Выйти</a>
            @* <a href="@Url.Action("GetAllCompanies", "Company")" class="back-btn">Назад</a> *@
            <a href="@Url.Action("GetAllDrinks", "Drink")" class="upper-btn">Список напитков</a>
            <a href="@Url.Action("GetAllCompanies", "Company")" class="upper-btn">Список сетей кофеен</a>
            <a href="@Url.Action("GetFavDrinks", "Drink")" class="fav-btn">Список избранных напитков</a>
            <a href="@Url.Action("GetFavCoffeeShops", "CoffeeShop")" class="fav-btn">Список избранных кофеен</a>
            @if (Model.Id_role == 3)
            {
                <a href="@Url.Action("GetAllUsers", "User")" class="upper-btn">Список пользователей</a>
            }
            
    </div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="error-container">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div class="error-message">@error.ErrorMessage</div>
                }
            </div>
        }
    <div class="loyalty-program">
        <h2 class="loyalty-header">Описание программы лояльности:</h2>
        <div class="loyalty-description">
            @(Model.LoyaltyProgram.Description ?? "Информация о программе лояльности отсутствует")
        </div>
    </div>
</body>
</html>
